body{
background:#F1F5F9;
font-family: 'Segoe UI', sans-serif;
color:#1E293B;
}

/* NAVBAR */

.navbar{
background:#0EA5E9;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* HERO */

.hero{
background:linear-gradient(120deg,#0EA5E9,#22C55E);
color:white;
padding:70px;
text-align:center;
}

.hero h1{
font-weight:700;
}

/* PRODUCT CARD */

.card{
border:none;
border-radius:14px;
overflow:hidden;
transition:all .25s;
}

.card img{
height:220px;
object-fit:cover;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

/* PRICE */

.price{
font-size:20px;
font-weight:700;
color:#22C55E;
}

/* ADD TO CART BUTTON */

.add-cart{
background:#0EA5E9;
border:none;
padding:10px;
border-radius:8px;
color:white;
font-weight:600;
transition:all .2s;
}

.add-cart:hover{
background:#0284C7;
transform:scale(1.05);
}

/* CART FLOAT BUTTON */

.cart-float{
position:fixed;
bottom:25px;
right:25px;
background:#F97316;
color:white;
width:60px;
height:60px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:22px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
cursor:pointer;
}

.cart-count{
position:absolute;
top:-5px;
right:-5px;
background:red;
color:white;
font-size:12px;
padding:3px 6px;
border-radius:50%;
}